@media screen and (max-width: 1000px) {
    body {
        background-color: var(--secondary-color);
        font-size: 1rem;
        padding: 0.5rem;
    }

    header {
        padding: 0.8rem;
        font-size: 1.2rem;
    }

    img#logo {
        width: 10px;
    }

    

    nav {
        /* display: flex; */
        flex-direction: column;
    }

    nav a {
        padding: 0.4rem;
        font-size: 0.9rem;
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    main {
         display: flex;
         flex-direction: column;
    }

    #home {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    
    .about, .student, .certificate {
        width: 90%;
        padding: 1rem;
        margin: 0.5rem auto;
        border-radius: 10px;
        background: rgba(225, 225, 225, 0.9);
    }

    .about h2, .student h2, .certificate h2 {
        background-color: aquamarine;
        width: auto;
        text-align: center;
        padding: 0.8rem;
    }

    footer {
        font-size: 0.9rem;
        padding: 0.8rem;
    }

    .socialmedia img {
        max-height: 25px;
    }

    /* .hamburger {
        display: block;
    } */
     .hamburger {
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      cursor: pointer;
      padding: 2px;
      align-items: center;
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 1000;
    }

    .hamburger span {
      height: 10px;
      background: #333;
      border-radius: 3px;
      display: block;
      width: 45px;
    }
}





